

.red-slide {
	background: #ca4040;
}
.blue-slide {
	background: #4390ee;
}
.orange-slide {
	background: #ff8604;
}
.green-slide {
	background: #49a430;
}
.pink-slide {
	background: #973e76;
}

/* Nested Swipers*/
.swiper-nested1 {
	margin-bottom:30px;
}
.swiper-nested1, .swiper-nested1 .swiper-slide {
	width:630px;
	height:250px;
	color:#fff;
	text-align:center;
	/*line-height:250px;*/
	font-size: 40px;
}
p
{
font-size: 15px;
}
